<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#"><img src="./food_for_thought_logo.png" class="logo-img"></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row login-content">
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<form class="login-form">
					<div class="form-group">
						<label for="user">User: </label>
						<input class="form-control" type="text" name="user" id="user" placeholder="Mobile No:">
					</div>
					<div class="form-group">
						<label for="pwd">Password: </label>
						<input class="form-control" type="password" name="password" id="password">
					</div>
					<button id="login_button" onclick="login_action()" type="submit" class="btn btn-primary"> Login </button>
				</form>
			</div>
		</div>
	</div>	
</body>
<script>
function login_action(){
  var user = $('#user').val();
  var password = $('#password').val();
	$.ajax({
	    url: '/food/login_action',
	    type: 'GET',
	    data: {user:user,password:password},
	    success: function (response) {
	    	if (response['status'] == 200)
	    	{
	    		if (response['details']['user_type'] == 'Receiver')
	    		{
	    		  location.href = "/food/receiver"
	    	  }
	    	  else
	    	  {
	    	  	location.href = "/food/donor"
	    	  }
	    	}
	    	else
	    	{
	    		alert(response['message']);
	    	}
	       
	    },
	    error: function () {
	        alert("Error while processing.. Try again");
	    }
	  });
	}
</script
</html>