.navbar .container-fluid {
	padding: 0;
}
.navbar .logo-img {
	width: 180px;
	padding: 0;
}
.login-content {
	display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}
.login-form {
	width: 100%;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 2px 2px 5px #ccc;
}
.navbar-header {
	position: relative;
}
.user-account {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: #0c9c7d;
	font-size: 2em;
}
.status-active {
	color: #5fdba7;
	font-weight: 600;
}
.status-in-active {
	color: #ff2400;
	font-weight: 600;
}
.event-table tbody tr td {
	vertical-align: middle;
}
.add-event {
	margin: 20px;
    float: right;
}
.add-event:after {
	content: '';
	clear: both;
}
#event-code {
	text-transform: uppercase;
}
.order-table-header {
	margin: 20px 0;
}
/* Order tracker */

ol.progtrckr {
    margin: 40px auto;
    list-style-type none;

}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
    position: relative;
}


ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li span {
	position: absolute;
	left: 0;
	right: 0;
}
ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
    left: calc(50% - 1.1em);
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
    left: calc(50% - 10px);
}

